@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


#instagram-rodape:hover, #facebook-rodape:hover, #twitter-rodape:hover{
    color: dodgerblue;
}
#instagram-rodape{
    color: white;
    font-size: 50px;
}
#facebook-rodape{
    color: white;
    font-size: 50px;
}
#twitter-rodape{
    color: white;
    font-size: 50px;
}
.contatos{
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
}
.pizzaria-rodape-tm{
    margin-left: 20px;
    font-weight: bold;
}
.imagens-do-rodape p:hover{
    background-color: #2527242d;
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.1);
}
.imagens-do-rodape a{
    text-decoration: none;
}
.imagens-do-rodape{
    margin-left: 100px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}
.img-rodape{
    margin-left: 8px;
    margin-right: 8px;
}
.sobre-nos p{   
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    padding: 5px;
    margin-top: -15px;
}
.sobre-nos p:hover{
    background-color: #2527242d;
    border-radius: 10px;
}
.sobre-nos a{
    text-decoration: none;

}
.sobre-nos{
    margin-left: 50px;
}
.suporte p{
    color: red ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    padding: 5px;
    margin-top: -15px;
}
.suporte p:hover{
    background-color: #2527242d;
    border-radius: 10px;
}
.suporte a{
    text-decoration: none;
}
.suporte{
    margin-left: 50px;
}
.pizzaria-logo-rodape{
    width: 130px;
}
footer h3{
    font-family: sans-serif;
    padding: 5px;
    font-weight: bold;
}
footer{
    width: 100%;
    height: fit-content;
    background-color: orange;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#cardapio{
    background-color: #FFAE69;
    text-align: center;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    height: fit-content;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bebidas-img{
    width: 30vw;
    border-radius: 50px;
    border: solid black;
    margin-top: 8px;
}
.cardapio-img{
    width: 30vw;
    border-radius: 50px;
    border: solid black;
    margin-top: 8px;
}
#cardapio h2{
    background-color: beige;
    font-family: sans-serif; 
    text-align: center;
    border-bottom: dashed;
    margin-bottom: 0px;
    font-weight: bold;
    padding-top: 2px;
    width: 100%;
}
.hub a{
    text-decoration: none;
    color: black;
}

.hub p:hover{
    color: red;
    cursor: pointer;
}

.cardapio-hub{
    color: red !important;
}

.hub p{
    margin-left: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0px;

}
.hub{
    background-color: rgb(255, 217, 0) ;
    display: flex;
    border-bottom: solid black 2px ;
    border-top: solid black 2px;
    position: sticky;
    top: 0;
    justify-content: center;
    width: 100%;
}
header h3{
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    position: relative;
}
.pizzaria-logo{
    max-width: 8vw;
    position: relative;
    bottom: 10px;
    margin-top: 10px;
}
header{
    width: 100%;
    height: fit-content;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    top: 0;
    
}
body{
    margin: 0px;
}
.sticky{
    position: sticky;
    top: 0;
}
/* RESPONSIVIDADE PARA TABLETS */
@media (max-width: 1024px) {
    .cardapio-img{
        min-width: 700px;
    }
    .bebidas-img{
        min-width: 700px;
    }
    .pizzaria-logo{
        max-width: 15vw;
    }
}
@media (max-width: 912px) {
    footer{
        justify-content: center;
        flex-direction: column;

    }
    .imagens-do-rodape{
        margin-left: 46px;
    }
/* Responsividade para Smartphones */
}
@media (max-width: 540px) {
    .cardapio-img{
        min-width: 350px;
    }
    .bebidas-img{
        min-width: 350px;
    }
}

@media (max-width: 430px) {
    .cardapio-img{
        min-width: 350px;
    }
    .bebidas-img{
        min-width: 350px;
    }
    .imagens-do-rodape{
        margin-left: 46px;
    }
    header h3{
        font-size: 30px;
    }
    .pizzaria-logo{
        max-width: 22vw;
    }

}
@media (max-width: 376px) {
    .hub p{
        font-size: 13px;
    }
}
/* Responsividade para o Galaxy Fold */
@media (max-width: 280px) {
    .hub p{
        font-size: 9.5px;
    }
    header h3{
        font-size: 22px;
    }
    .cardapio-img{
        min-width: 250px;
    }
    .bebidas-img{
        min-width: 250px;
    }
}