@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


#instagram-rodape:hover, #facebook-rodape:hover, #twitter-rodape:hover{
    color: dodgerblue;
}
#instagram-rodape{
    color: white;
    font-size: 50px;
}
#facebook-rodape{
    color: white;
    font-size: 50px;
}
#twitter-rodape{
    color: white;
    font-size: 50px;
}
.card-pizza{
    margin: 50px;
    margin-bottom: 10px;
    border: solid black 1px;
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
    width: 27%;
    background-color: rgb(255, 217, 0);
}
.card-pizza a{
    text-decoration: none;
    color: black;
}
.card-pizza p{
    font-family: sans-serif;
    font-size: 30px;
    margin-top: -3px;
}
.contatos{
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;

}
.preco{
    color: red;
    margin-top: -15px;
}
.pizzaria-rodape-tm{
    margin-left: 20px;
    font-weight: bold;
}
.OBS li{
    margin-left: 40px;
    font-size: 13px;

}
.pedido-hub{
    text-decoration: none;
    color: black;
}
.cardapio-hub{
    text-decoration: none;
    color: black;
}
#faca-seu-pedido{
    font-family: sans-serif; 
    background-color: beige; 
    margin-top: 0px; 
    padding: 3px;
    border-bottom: dashed;
    text-align: center;
    
}
#cardapio h2{
    font-family: sans-serif; 
    background-color: beige; 
    margin-top: 0px; 
    padding: 3px;
    border-bottom: dashed;
}
#principais-pratos{
    background-color: beige;
    margin-top: 0px; 
    font-family: sans-serif; 
    text-align: center;
    border-bottom: dashed;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: solid 2px black;
    width: 100%;
}
.imagens-do-rodape p:hover{
    background-color: #2527242d;
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.1);
}
.imagens-do-rodape a{
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}
.imagens-do-rodape{
    margin-left: 100px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}
.img-rodape{
    margin-left: 8px;
    margin-right: 8px;
}
.sobre-nos p{   
    color: red ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    padding: 5px;
    margin-top: -15px;
}
.sobre-nos p:hover{
    background-color: #2527242d;
    border-radius: 10px;
}
.sobre-nos a{
    text-decoration: none;
    
}
.sobre-nos{
    margin-left: 50px;
}
.suporte p{
    color: red ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    padding: 5px;
    margin-top: -15px;
}
.suporte p:hover{
    background-color: #2527242d;
    border-radius: 10px;
}
.suporte a{
    text-decoration: none;
}
.suporte{
    margin-left: 50px;
}
.pizzaria-logo-rodape{
    width: 130px;
}
footer h3{
    font-family: sans-serif;
    padding: 5px;
    font-weight: bold;
}
footer{
    width: 100%;
    height: fit-content;
    background-color: orange;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.principais-pratos-hub{
    text-decoration: none;
    color: red ;
    
}
.OBS h3{
    margin-left: 40px;
}
.OBS p{
    margin-left: 40px;
    padding: 5px;
    margin-bottom: 0px;
}
.OBS{
    background-color: #BDECB6; 
    margin-top: -1px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    width: 100%;
}
.pizza-4-queijos-img{
    
    border-radius: 10px;
}
.pizza-portuguesa-img{
    border-radius: 10px;
}
#pizzas-section{
    display: flex;
    background-color: #FFAE69;
    margin-top: 0px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-image: url(../images/pexels-eneida-nieves-905847-GRANDE.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.pizza-calabreza-img{
    border-radius: 10px;
}
.hub p:hover{
    color: red;
    cursor: pointer;
}
.hub p{
    margin-left: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    
}
.hub{
    background-color: rgb(255, 217, 0) ;
    display: flex;
    border-bottom: solid black 2px ;
    border-top: solid black 2px;
    position: sticky;
    top: 0;
    justify-content: center;
    width: 100%;
}
header h3{
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    position: relative;
    
}
.pizzaria-logo{
    max-width: 8vw;
    position: relative;
    bottom: 10px;
    margin-top: 10px;
}
header{
    width: 100%;
    height: fit-content;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    top: 0;
}
body{
    margin: 0px;
}
.sticky{
    position: sticky;
    top: 0;
}

.card-pizza{
    min-width: 400px;
    
}
@media (max-width: 1025px){
  .card-pizza{
      min-width: 500px;
      
    }
    .pizzaria-logo{
        max-width: 15vw;
    }
}

@media (max-width: 430px) {
    .card-pizza{
        min-width: 300px;
        
    }
    header h3{
        font-size: 30px;
    }
    footer{
        justify-content: center;
    }
    .pizzaria-logo-rodape{
        margin-left:0px;
        
    }
    .hub p{
        padding-left: 0px;
    }
    .img-rodape{
        height: 4vh; 
    }
    .pizzaria-logo{
        max-width: 22vw;
    }
}
@media (max-width: 912px) {
    footer{
        justify-content: center;
        flex-direction: column;

    }
    .imagens-do-rodape{
        margin-left: 46px;
    }

}   

@media (max-width: 280px) {
.card-pizza{
     min-width: 300px;
}
}
@media (max-width: 376px) {
    .hub p{
        font-size: 15px;
    }
}
@media (max-width: 280px) {
    .card-pizza{
        min-width: 200px;
        
    }
    .hub p{
        font-size: 11px;
    }
    header h3{
        font-size: 22px;
    }
}