.pedido-formulario input{
    border: solid black 2px;
}
.form-floating{
    margin-top: 10px;
    
}
.pizzaria-rodape-tm{
    position: relative;
    top: 131px;
    right: 1000px;
}
.imagens-do-rodape p:hover{
    background-color: #2527242d;
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.1);
}
.imagens-do-rodape a{
    text-decoration: none;
}
.imagens-do-rodape p{
    margin-left: 10px;
    position: relative;
    top: 55px;
    right: 173px;
    background-color: #FF6961;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 52px;
    padding-right: 52px;
    border-radius: 20px;
    color: black;

}
.imagens-do-rodape{
    margin-left: 100px;
    display: block;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.img-rodape:hover{
    background-color: #2527242d;
}
.img-rodape{
    margin-left: 10px;
    height: 5vh;
     
}
.sobre-nos p{   
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    padding: 5px;
    margin-top: -15px;
}
.sobre-nos p:hover{
    background-color: #2527242d;
    border-radius: 10px;
}
.sobre-nos a{
    text-decoration: none;

}
.sobre-nos{
    margin-left: 50px;
}
.pizzaria-logo-rodape{
    height: 13vh;
    
}
footer h3{
    font-family: sans-serif;
    padding: 5px;
    font-weight: bold;
}
footer{
    width: 100%;
    height: fit-content;
    background-color: orange;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.label-form{
    font-family: sans-serif;
    font-size: 15px;
    
}
#faca-seu-pedido{
    background-color: beige;
    margin-top: 0px; 
    font-family: sans-serif; 
    text-align: center;
    border-bottom: dashed;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: solid 2px black;
    width: 100%;

}
#descricao-pedido{
    width: 120%;
}
.pedido-formulario #Email{
    width: 100%;
}
.pedido-formulario #nome{
    width: 100%;
}

.pedido-formulario textarea{
    border-radius: 10px ;
    border: solid black 2px;
    margin: 2px;
}
.pedido-formulario .email{
    border-radius: 10px ;
    border: solid black 2px;
    margin: 2px;
}
#pedido{
    background-color: #FFAE69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px black;
    width: 100%;
}
.pedido-hub{
    color: red !important;
}
.hub a{
    text-decoration: none;
    color: black;
}

.hub p:hover{
    color: red;
    cursor: pointer;
}
.hub p{
    margin-left: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0px;

}
.hub{
    background-color: rgb(255, 217, 0) ;
    display: flex;
    border-bottom: solid black 2px ;
    border-top: solid black 2px;
    position: sticky;
    top: 0;
    justify-content: center;
    width: 100%;
}
header h3{
    font-family: cursive;
    font-size: 40px;
    position: relative;
    bottom: 10px;
}
.pizzaria-logo{
    height: 13vh;
    position: relative;
    bottom: 10px;
}
header{
    width: 100%;
    height: 15vh;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    top: 0;
   
}
body{
    margin: 0px;
}
